<!doctype html>
<html>
<head>
  <title>About - Triton Connect</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  
  <!-- Triton Connect stylesheet -->
  <link rel="stylesheet" href="/css/style.css">
  
  <!-- home stylesheet -->
  <link rel="stylesheet" href="/css/about.css">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- Location related stuff -->
  <script>
    "use strict";
    $(document).ready(function() {
      getLocation();
      $('#results').on('mouseenter','.result',function() {
        var infoWindow = $(this).data('infoWindow');
        var marker = $(this).data('marker');
        closeAllInfoWindows();
        infoWindow.open(map,marker);
      });
    });
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        showError();
      }
    }
    function showPosition(position) {
      document.getElementById("ll").value = position.coords.latitude+","+position.coords.longitude;
      if(document.getElementById("locationInput").value === "La Jolla, CA")
        document.getElementById("locationInput").value = "current location (" + position.coords.latitude+","+position.coords.longitude + ")";
      console.log(position.coords.latitude+","+position.coords.longitude);
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Triton Connect</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" method="get" action="/">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="query" value="{{#if query}}{{query}}{{/if}}" pattern=".*\S+.*" required autofocus>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="locationInput" name="location" placeholder="Location" value="{{#if location}}{{location}}{{else}}La Jolla, CA{{/if}}" pattern=".*\S+.*" required>
          </div>
          <input type="hidden" class="form-control" id="ll" name="ll">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {{#if user}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{user.displayName}}! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/account">Account</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/auth/facebook">Login with Facebook</a></li>
          {{/if}}
          <li><a href="/about">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <h2>Search</h2>
        <p>Use custom filters and tools created with students in mind to search for food locations on or off campus.</p>
        <div class="screenshot" id="search">
          <img src="/img/search.png" alt="search page">
        </div>
      </div>
      <div class="col-sm-4">
        <h2>Discover</h2>
        <p>Use reviews, tips, photos, details, and advanced tools to discover all that UCSD has to offer.</p>
        <div class="screenshot" id="discover">
          <img src="/img/discover.png" alt="listing page">
        </div>
      </div>
      <div class="col-sm-4">
        <h2>Connect</h2>
        <p>Connect with Facebook and other users in various ways to bring your UCSD social experience to a new level.</p>
        <div class="screenshot" id="connect">
          <img src="/img/connect.png" alt="check in" class="screenshot">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
