<!doctype html>
<html>
<head>
  <title>{{listing.name}} - Food Run</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  
  <!-- Food Run stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <script>
    "use strict";
    $(document).ready(function() {
      getLocation();
    });

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        showError();
      }
    }
    function showPosition(position) {
      document.getElementById("ll").value = position.coords.latitude+","+position.coords.longitude;
      if(document.getElementById("locationInput").value === "La Jolla, CA")
        document.getElementById("locationInput").value = "current location (" + position.coords.latitude+","+position.coords.longitude + ")";
      console.log(position.coords.latitude+","+position.coords.longitude);
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Food Run</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" method="get" action="/">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="query" value="{{#if query}}{{query}}{{/if}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="locationInput" name="location" placeholder="Location" value="{{#if location}}{{location}}{{else}}La Jolla, CA{{/if}}" required>
          </div>
          <input type="hidden" class="form-control" id="ll" name="ll">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {{#if user}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{user.displayName}}! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/account">Account</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/auth/facebook">Login with Facebook</a></li>
          {{/if}}
          <li><a href="#">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">Set up your account below!</div>
        <h2>Account settings</h2>
        <form role="form" method="post" action="/account">
          <div class="form-group">
            <label for="fName">First Name</label>
            <input type="text" class="form-control" id="fName" name="fName" placeholder="First Name" value="{{account.fName}}">
          </div>
          <div class="form-group">
            <label for="lName">Last Name</label>
            <input type="text" class="form-control" id="lName" name="lName" placeholder="Last Name" value="{{account.lName}}">
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <select name="year" id="year" class="form-control">
              <option value="1" {{#ifCond 1 account.year}}selected="selected"{{/ifCond}}>Freshman</option>
              <option value="2" {{#ifCond 2 account.year}}selected="selected"{{/ifCond}}>Sophomore</option>
              <option value="3" {{#ifCond 3 account.year}}selected="selected"{{/ifCond}}>Junior</option>
              <option value="4" {{#ifCond 4 account.year}}selected="selected"{{/ifCond}}>Senior</option>
              <option value="5" {{#ifCond 5 account.year}}selected="selected"{{/ifCond}}>Super Senior</option>
            </select>
          </div>
          <div class="form-group">
            <label for="type">Type of Student</label>
            <select name="type" id="type" class="form-control">
              <option value="1" {{#ifCond 1 account.typeOfStudent}}selected="selected"{{/ifCond}}>Undergraduate</option>
              <option value="2" {{#ifCond 2 account.typeOfStudent}}selected="selected"{{/ifCond}}>Graduate</option>
            </select>
          </div>
          <div class="form-group">
            <label for="since">Living in San Diego since</label>
            <input type="number" class="form-control" id="since" name="since" placeholder="Year" value="{{account.yearMoved}}">
          </div>
          <div class="form-group">
            <label for="college">College</label>
            <select name="college" id="college" class="form-control">
              <option value="1" {{#ifCond 1 account.college}}selected="selected"{{/ifCond}}>Revelle</option>
              <option value="2" {{#ifCond 2 account.college}}selected="selected"{{/ifCond}}>Muir</option>
              <option value="3" {{#ifCond 3 account.college}}selected="selected"{{/ifCond}}>Marshall</option>
              <option value="4" {{#ifCond 4 account.college}}selected="selected"{{/ifCond}}>Warren</option>
              <option value="5" {{#ifCond 5 account.college}}selected="selected"{{/ifCond}}>Roosevelt</option>
              <option value="6" {{#ifCond 6 account.college}}selected="selected"{{/ifCond}}>Sixth</option>
              <option value="7" {{#ifCond 7 account.college}}selected="selected"{{/ifCond}}>N/A</option>
            </select>
          </div>
          <div class="form-group">
            <label for="travel">Preferred Method of Travel</label>
            <select name="travel" id="travel" class="form-control">
              <option value="1" {{#ifCond 1 account.preferredTravel}}selected="selected"{{/ifCond}}>Car</option>
              <option value="2" {{#ifCond 2 account.preferredTravel}}selected="selected"{{/ifCond}}>Bike</option>
              <option value="3" {{#ifCond 3 account.preferredTravel}}selected="selected"{{/ifCond}}>Public Transit</option>
              <option value="4" {{#ifCond 4 account.preferredTravel}}selected="selected"{{/ifCond}}>Walk</option>
            </select>
          </div>
          <input type="hidden" name="referer" value="{{referer}}">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>