<!doctype html>

<html>
<head>
	<title>Food Run</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      
      <script>
      "use strict";
      getLocation();
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          showError();
        }
      }
      function showPosition(position) {
        document.getElementById("ll").value = position.coords.latitude+","+position.coords.longitude;
        if(document.getElementById("locationInput").value === "La Jolla, CA")
          document.getElementById("locationInput").value = "current location (" + position.coords.latitude+","+position.coords.longitude + ")";
        console.log(position.coords.latitude+","+position.coords.longitude);
      }
      </script>
</head>

<body>
      <div class="container">
      	<div class="row">
          <div class="col-md-4 col-md-offset-4">
            <form role="form">
              <h1>Food Run Login</h1>
              <input type="text" class="form-control" placeholder="Username" required autofocus>
              <input type="password" class="form-control" placeholder="Password" required>
              <button class="btn btn-default btn-block" type="submit">Login</button>
          
              
              
            </form>

            <form role="form" >
              <h4> Don't have a Food Run account? Sign up for Food Run here </h4>
              <a class="btn btn-default btn-block" href="/signup" role="button">Sign Up</a>
            </form>
          </div> 
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2>Search for food places</h2>
          </div>
          <div class="col-md-4">
            <form action="search">
              <input type="text" class="form-control" name="query" placeholder="search" value="{{#if query}}{{query}}{{/if}}" required>
              <input type="text" class="form-control" id="locationInput" name="location" placeholder="near..." value="{{#if location}}{{location}}{{else}}La Jolla, CA{{/if}}" required>
              <input type="hidden" class="form-control" id="ll" name="ll">
              <button class="btn btn-default btn-block" type="submit">search</button>
            </form>
            <ol>
              {{#each results.businesses}}
              <li>
                <p><a href="/listing/{{id}}">{{name}}</a></p>
                <p>Yelp Rating: <img src="{{rating_img_url}}"/></p>
              </li>
              {{/each}}
            </ol>
          </div>
          <div class="col-md-8"><h3>map goes here</h3></div>
        </div>
      </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
