<!doctype html>
<html>
<head>
  <title>Triton Connect</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  
  <!-- Triton Connect stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- results stylesheet -->
  <link rel="stylesheet" href="/css/results.css">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <!-- Google Maps Stuff -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNF0d-G772tKHizpJ_0EqlWxCkb8uJqI&sensor=true">
  </script>
  <script type="text/javascript">
    var map;
    var geocoder;
    var infoWindows = [];
    function initialize() {
      geocoder = new google.maps.Geocoder();
      
      var mapOptions = {
        center: new google.maps.LatLng({{results.region.center.latitude}}, {{results.region.center.longitude}}),
        zoom: 12
      };
      
      map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);

      $('.result').each(function(index) {
        var html = $(this).html();
        var li = $(this);
        setTimeout(function() {
          console.log(index);
          geocoder.geocode( { 'address': li.data("address")}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });

            var infowindow = new google.maps.InfoWindow({
              content: html
            });

            infoWindows.push(infowindow);
            li.data('infoWindow', infowindow);
            li.data('marker', marker);

            google.maps.event.addListener(marker, 'click', function() {
              closeAllInfoWindows();
              infowindow.open(map,marker);
            });

          } else {
            // error
            console.log('Geocode was not successful for the following reason: ' + status);
          }
        });
        }, index*500);
      });
    }
    
    function closeAllInfoWindows() {
      for (var i=0;i<infoWindows.length;i++) {
        infoWindows[i].close();
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <!-- Location related stuff -->
  <script>
    "use strict";
    $(document).ready(function() {
      getLocation();
      $('#results').on('mouseenter','.result',function() {
        var infoWindow = $(this).data('infoWindow');
        var marker = $(this).data('marker');
        closeAllInfoWindows();
        infoWindow.open(map,marker);
      });
    });
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        showError();
      }
    }
    function showPosition(position) {
      document.getElementById("ll").value = position.coords.latitude+","+position.coords.longitude;
      if(document.getElementById("locationInput").value === "La Jolla, CA")
        document.getElementById("locationInput").value = "current location (" + position.coords.latitude+","+position.coords.longitude + ")";
      console.log(position.coords.latitude+","+position.coords.longitude);
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Triton Connect</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" method="get" action="/">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="query" value="{{#if query}}{{query}}{{/if}}" pattern="[^\s]+" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="locationInput" name="location" placeholder="Location" value="{{#if location}}{{location}}{{else}}La Jolla, CA{{/if}}" pattern="[^\s]+" required>
          </div>
          <input type="hidden" class="form-control" id="ll" name="ll">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {{#if user}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{user.displayName}}! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/account">Account</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/auth/facebook">Login with Facebook</a></li>
          {{/if}}
          <li><a href="/about">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-sm-push-5 text-muted" id="mapWrap">
        <div id="map-canvas" style="width: 100%; height: 100%"></div>
      </div>
      <div class="col-sm-5 col-sm-pull-7">
        <h3>Results</h3>
        <div class="list-group" id="results">
          {{#each results.businesses}}
          <a href="/listing/{{id}}" class="list-group-item result" data-address="{{location.address}} {{location.city}}">
            <div class="media">
              <span class="pull-left">
                <img class="media-object img-circle" src="{{image_url}}" alt="{{name}}">
              </span>
              <div class="media-body">
                <h5>{{name}}</h5>
                <p>Yelp: <img src="{{rating_img_url}}"/></p>
                <p>Tridents: 
                  <span class="tridents">{{#if avgTridents}}
                    {{{avgTridents}}}
                  {{else}}
                    <img src="/img/trident.png" alt="trident" class="notrident"/><img src="/img/trident.png" alt="trident" class="notrident"/><img src="/img/trident.png" alt="trident" class="notrident"/><img src="/img/trident.png" alt="trident" class="notrident"/><img src="/img/trident.png" alt="trident" class="notrident"/>
                  {{/if}}
                  </span>
                </p>
              </div>
            </div>
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
