<!doctype html>
<html>
<head>
  <title>{{listing.name}} - Food Run</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  
  <!-- Food Run stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  <script>
    "use strict";
    $(document).ready(function() {
      getLocation();
      $('.travel').tooltip();
    });
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        showError();
      }
    }
    function showPosition(position) {
      document.getElementById("ll").value = position.coords.latitude+","+position.coords.longitude;
      if(document.getElementById("locationInput").value === "La Jolla, CA")
        document.getElementById("locationInput").value = "current location (" + position.coords.latitude+","+position.coords.longitude + ")";
      console.log(position.coords.latitude+","+position.coords.longitude);
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Food Run</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" method="get" action="/">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="query" value="{{#if query}}{{query}}{{/if}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="locationInput" name="location" placeholder="Location" value="{{#if location}}{{location}}{{else}}La Jolla, CA{{/if}}" required>
          </div>
          <input type="hidden" class="form-control" id="ll" name="ll">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {{#if user}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{user.displayName}}! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/account">Account</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/auth/facebook">Login with Facebook</a></li>
          {{/if}}
          <li><a href="#">About</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="media" id="listingInfo">
          <a class="pull-left" href="#">
            <img class="media-object img-circle" src="{{listing.image_url}}" alt="{{listing.name}}">
          </a>
          <div class="media-body">
            <h2>{{listing.name}}</h2>
            <p>Yelp: <img src="{{listing.rating_img_url}}"></p>
            <p>Food Run: {{{listing.avgTridents}}}</p>
          </div>
        </div>
        <hr>
        <p>{{listing.location.cross_streets}}</p>
        <address><a href="https://www.google.com/maps/place/{{listing.name}} {{#each listing.location.display_address}}{{this}} {{/each}}" target="_blank">{{#each listing.location.display_address}}{{this}}<br>{{/each}}</a></address>
        <hr>
        {{#if user}}
        <h4>Leave a Review</h4>
        <form role="form" action="/review" method="post">
          <div class="form-group">
            <label for="stars">Tridents</label>
            <select name="stars" id="stars" class="form-control">
              <option value="1">&Psi;</option>
              <option value="2">&Psi;&Psi;</option>
              <option value="3">&Psi;&Psi;&Psi;</option>
              <option value="4">&Psi;&Psi;&Psi;&Psi;</option>
              <option value="5">&Psi;&Psi;&Psi;&Psi;&Psi;</option>
            </select>
          </div>
          <div class="form-group">
            <label for="travel">Best way to get there</label>
            <select name="travel" id="travel" class="form-control">
              <option value="1">Car</option>
              <option value="2">Bike</option>
              <option value="3">Public Transit</option>
              <option value="4">Walk</option>
            </select>
          </div>
          <div class="form-group">
            <label for="review">Review</label>
            <textarea name="review" placeholder="Review" class="form-control"></textarea>
          </div>
          <input type="hidden" name="yelpid" value="{{listing.id}}">
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <hr>
        <h4>Check into {{listing.name}}</h4>
        <form role="form" action="/checkin" method="post">
          <div class="form-group">
            <label for="reason">Message</label>
            <textarea id="reason" name="reason" placeholder="Reason why you are here: fun, food, study session etc." class="form-control"></textarea>
            <input type="hidden" name="yelpid" value="{{listing.id}}">
          </div>
          <button type="submit" class="btn btn-default">Checkin</button>
        </form>
        <h3>Checkins</h3>
        <div class="list-group" id="checkins">
          {{#if checkins}}
          {{#each checkins}}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">{{displayName}} <small>{{relative}}</small></h4>
            <div class="list-group-item-text">
              <p>{{reason}}</p>
            </div>
          </div>
        {{/each}}
        {{else}}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">No ones here right now</h4>
          </div>
        {{/if}}
        </div>

        {{else}}
          <h4><a href="/auth/facebook">Login with Facebook</a> to leave a review</h4>
        {{/if}}
      </div>
      <div class="col-md-7">
        <h3>Reviews</h3>
        <div class="list-group">
          {{#if reviews}}
          {{#each reviews}}
            <div class="list-group-item">
              <div class="list-group-item-text">
                <p>{{{tridents}}} | {{{travelImg}}} | {{prettyDate}}</p>
                <p>{{reviewText}}</p>
                <p class="text-right"><i>-{{displayName}}</i></p>
              </div>
            </div>
          {{/each}}
          {{else}}
            <div class="list-group-item">
              <h4 class="list-group-item-heading">No Reviews Yet</h4>
            </div>
          {{/if}}
        </dic>
      </div>
    </div>
  </div>
</body>
</html>
